html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --yellow-color: #cc9933;
  --yellow-color2: #a47312;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease-in-out,
    outline 0.3s ease-in-out;
}

a:focus {
  color: var(--yellow-color);
  outline: none;
}

a:hover {
  color: var(--yellow-color);
  outline: 1px solid var(--yellow-color);
  outline-offset: 5px;

}

a:active {
  color: var(--yellow-color2);
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Muller';
  src: local('MullerRegular'), url('../fonts/MullerRegular.woff2') format("woff2"),
    url(../fonts/MullerRegular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('MullerLight'), url('../fonts/MullerLight.woff2') format("woff2"),
    url(../fonts/MullerLight.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('MullerBold'), url('../fonts/MullerBold.woff2') format("woff2"),
    url(../fonts/MullerBold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('MullerMedium'), url('../fonts/MullerMedium.woff2') format("woff2"),
    url(../fonts/MullerMedium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1200px;
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  background-color: #f1f1f1;
  padding: 30px 0;
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-flex-style {
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.btn-reset {
  padding: 0;
  border: none;
  /* background-color: inherit; */
  cursor: pointer;
}

.btn {
  border: 1px solid var(--yellow-color);
  border-radius: 10px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--yellow-color);
  background: transparent;
  transition: color 0.3s ease-in-out,
    background 0.3s ease-in-out;
}

.btn:focus,
.btn:hover {
  background: var(--yellow-color);
  color: #fff;
  outline: none;
}

.btn:active {
  background: var(--yellow-color2);
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto 70px;
}

.section-title {
  margin: 0;
  padding: 0 0 20px 40px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333;
}

.descr {
  margin: 0;
  padding: 0;
}

.link-extra {
  display: inline-block;
  width: 13px;
  height: 13px;
  left: 130.72px;
  top: 209.78px;
  border: 2px solid;
  border-top: 0;
  border-left: 0;
  transform: rotate(-45deg);
}

/* header */
.header-up {
  align-items: center;
}

.header-nav {
  margin-top: 30px;
  min-height: 70px;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
}

.input-link {
  margin-left: auto;
  padding-left: 29px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--yellow-color);
  background-image: url('../img/keyboard_tab.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
}

.header-address-phone {
  margin-left: 40px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666;
}

.header-btn-back-call {
  margin-left: 40px;
  margin-right: 45px;
  width: 177px;
  height: 42px;
}

.header-btn-tour {
  margin-left: auto;
  width: 107px;
  height: 42px;
}

.header-list-item {
  margin-left: 45px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #666;
}

/* discount */
.discount-items {
  flex-direction: column;
  height: 540px;
}

.discount-item {
  width: 573px;
  height: 258px;

  padding: 40px 45px;
  flex-direction: column;
  justify-content: flex-end;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  overflow: hidden;
  border-radius: 15px;
}

.discount-item:last-child {
  flex-grow: 1;
}

.discount-item1 {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/discount_item1.jpg');
}

.discount-item2 {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/discount_item2.jpg');
}

.discount-item3 {
  background-image: linear-gradient(360deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/discount_item3.jpg');
}

.discount-item-link {
  margin-top: 47px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #f0bf5f;
}

.discount-item-descr {
  margin: 0;
  margin-top: 15px;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}

.discount-item-title {
  margin: 0;
  width: 420px;
  height: 80px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #fff;
}

.discount-item-title-big {
  margin: 0;
  width: 299px;
  height: 180px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #fff;
}

/* about-us */
.about-us-content {
  margin: 0;
  max-width: 882px;
}

.about-us-descr {
  font-size: 16px;
  line-height: 200%;
  color: #000;
}

/* services */
.services-items {
  min-height: 684px;
}

.services-item {
  min-height: 330px;
  width: 573px;

  padding: 25px 126px 35px 45px;
  flex-direction: column;
  justify-content: flex-end;

  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;

  background-position: center top;
  background-repeat: no-repeat;
  background-size: 573px 165px;
}

.services-item-1 {
  background-image: url('../img/service-item-1.jpg');
}

.services-item-2 {
  background-image: url('../img/service-item-2.jpg');
}

.services-item-3 {
  background-image: url('../img/service-item-3.jpg');
}

.services-item-4 {
  background-image: url('../img/service-item-4.jpg');
}

.services-item-descr {
  font-size: 16px;
  line-height: 200%;
  color: #000;
}

.services-item-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--yellow-color);
}

/* benefits */
.benefits-items {
  min-height: 574px;
  flex-wrap: wrap;
}

.benefits-item {
  width: 276px;
  height: 276px;
  min-height: 276px;
  padding: 116px 42px 32px 45px;
  background-color: #fff;
  border-radius: 15px;
  background-position: 45px 40px;
  background-repeat: no-repeat;
}

.benefits-item:not(:nth-child(4n)) {
  margin-right: 22px;
}

.benefits-item:not(:nth-last-child(-n + 4)) {
  margin-bottom: 22px;
}

.benefits-item-1 {
  background-image: url('../img/benefits-item-1.svg');
}

.benefits-item-2 {
  background-image: url('../img/benefits-item-2.svg');
}

.benefits-item-3 {
  background-image: url('../img/benefits-item-3.svg');
}

.benefits-item-4 {
  background-image: url('../img/benefits-item-4.svg');
}

.benefits-item-5 {
  background-image: url('../img/benefits-item-5.svg');
}

.benefits-item-6 {
  background-image: url('../img/benefits-item-6.svg');
}

.benefits-item-7 {
  background-image: url('../img/benefits-item-7.svg');
}

.benefits-item-8 {
  background-image: url('../img/benefits-item-8.svg');
}

.benefits-item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000;
}

/* allocation */
.alloation-items {
  min-height: 1368px;
}

.allocation-item {
  flex-direction: column;

  min-height: 440px;
  width: 374px;

  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.allocation-item-up-line {
  margin-left: 45px;
  margin-top: 32px;
}


.allocation-item-price {
  margin: 0;
  display: inline;
}

.allocation-item-desc {
  font-size: 16px;
  line-height: 16px;
  color: #999;
}

.allocation-item-price-numbers {
  margin-left: 4px;
  margin-right: 4px;
  font-size: 20px;
  line-height: 20px;
  color: #000;
}

.allocation-item-price-measure {
  margin-right: 52px;
  font-size: 16px;
  line-height: 16px;
  color: #000;
}

.allocation-item-title {
  margin: 0;
  margin-left: 45px;
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000;
}

.allocation-item-desc1 {
  margin: 0;
  margin-top: 16px;
  margin-left: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999;
}

.allocation-item-btn {
  margin: 0;
  margin-top: 20px;
  margin-left: 45px;
  width: 100px;
  height: 42px;
}

.allocation-item:last-child {
  background-color: transparent;
  background-image: url('../img/41.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 358px 424px;
}

.allocation-item-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #fff;
  padding-bottom: 27px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.allocation-item-link::after {
  content: "";
  border-radius: 15px;
  border: 1px solid var(--yellow-color);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.allocation-item-link:focus:after {
  opacity: 1;
}

.allocation-item-link-text {
  align-items: center;
}

/* order */
.order-zone {
  min-height: 256px;
  background-color: #e9e9e9;
  border-radius: 15px;
}

.order-title {
  padding-top: 45px;
}

.order-list {
  width: 1080px;
  padding: 32px 28px;
  justify-content: space-between;
  margin: auto;
  background-color: #fff;
  border-radius: 15px;
  border: none;
}

.order-item {
  flex-direction: column;
  justify-content: space-between;
}

.order-item-descr {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #000;
}

.order-item-select {
  border: none;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000;
}

.order-button {
  width: 108px;
  height: 42px;
}

/* contacts */
.contacts-content {
  min-height: 618px;
  padding: 45px;
  background-color: #fff;
  background-image: url('../img/contacts-back.png');
  background-repeat: no-repeat;
  background-size: 653px 528px;
  background-position: center right 45px;
  border-radius: 15px;
}

.contacts-list {
  flex-direction: column;

}

.contacts-list-item {
  width: 375px;
  border-bottom: solid 1px #e9e9e9;
  justify-content: space-between;
}

.contacts-list-adress {
  height: 72px;
}

.contacts-list-item-header {
  margin: 0;
  display: inline-block;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000;
}

.contacts-list-item-descr {
  width: 229px;
  display: inline-block;
}

.contacts-list-item-text {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
}

.contacts-list-phone {
  height: 72px;
  margin-top: 25px;
}

.contacts-list-item-href {
  display: block;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--yellow-color);
}

.contacts-list-emali {
  height: 122px;
  margin-top: 25px;
}

.contacts-list-item-subdescr {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #999
}

.contacts-list-shedule {
  height: 72px;
  margin-top: 25px;
}

.create-route-button {
  width: 213px;
  height: 70px;
  margin-top: 45px;
}

.contacts>.container {
  margin-bottom: 30px;
}

/* footer */
.footer-zone {
  height: 341px;
  background: #333;
  border-radius: 15px;
  background-image: url('../img/footer-logo.svg');
  background-repeat: no-repeat;
  background-position: top 112px right 175px;
}

.footer-item {
  flex-direction: column;
}

.footer-first-column {
  width: 302px;
  margin-top: 45px;
  margin-left: 45px;
  margin-right: 125px;
}

.footer-text {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: #fff;
}

.footer-link {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--yellow-color);
}

.footer-rights-reserved {
  margin-top: 37px;
}

.footer-terms {
  margin-top: 40px;
}

.footer-address {
  margin-top: 45px;
}

.footer-phone {
  margin-top: 15px;
}

.footer-mail {
  margin-top: 15px;
}

.footer-last-column {
  margin-top: 45px;
  margin-left: auto;
  margin-right: 45px;
}

.social-link {
  width: 25px;
  height: 25px;
}

.social-link:not(:first-child) {
  margin-top: 20px;
}

.social-link svg {
  fill: #999;
}

.social-link:focus svg {
  fill: var(--yellow-color);
}

.social-link:hover svg {
  fill: var(--yellow-color);
}

.social-link:active svg {
  fill: var(--yellow-color2);
}

.footer>.container {
  margin-bottom: 0;
}
